
.img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background: #575758;
}


.pagination {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination_wrapper {
    display: flex;
}

.arrow_img {
    width: 20px;
    cursor: pointer;
}

.arrow_right {
    transform: rotate(180deg);
}

.pageNum {
    font-size: 20px;
    margin: 0 5px;
}

.user {
    display: flex;
    max-width: 160px;
}

.user:not(:last-child) {
    margin-bottom: 30px;
}

.img_wrapper {
    margin-right: 15px;
}

.btn_wrapper {
    margin-top: 10px;
}

.btn {
    border: 1px solid #2196f3;
    background: none;
    color: white;
}

.btn:disabled {
    background: grey;
    border-color: grey;
}

.followed {
    background: #2196f3;

}

.users {
    padding: 10px 0 0 10px;
}