.header__wrapper {
    margin: 0 auto;
    width: 960px;
    display: grid;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 0;
}
.logo {
    width: 30px;
}

.auth_block {
grid-column: -1;
}