ul {
    padding: 0;
    margin: 0;
}

.navBar {
    border-radius: 2px;
    padding: 20px 0 0 40px;
}

.ul {
    list-style: none;
}

.elem {
    margin-bottom: 5px;
}

.activeLink {
    color: #2196f3;
}