body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #2c2f33;
  color: #ffffff;
}

h1 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.page-wrapper {
  display: grid;
  grid-template-rows: 40px 1fr;
  row-gap: 10px;
}

.page-container {
  display: grid;
  margin: 0 auto;
  width: 960px;
  grid-template-columns: 200px 9fr;
  column-gap: 10px;
}

.parent {
  background-color: #3b3f45;
}
